<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Radha's Webserver</title>
</head>
<body>
  <h1>🚀 Hello from Ansible!</h1>
  <p>This page was deployed on {{ ansible_hostname }} using Ansible.</p>
</body>
</html>

